/Setting comomn property for body/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height:1.6;
    background-color: rgb(180, 199, 215);
}

/setting the main body/
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(226, 230, 233);
    border-radius: 10px;
    box-shadow: 0 0 10px red;
}

/header for photo name and address/
header{
    text-align: center;
}

header img{
    border-radius: 50%;
    width: 150px;
    height: 150;
    border: 3px solid rgb(81, 79, 79);
}

header h1{
    margin: 10px 0 5px;
    color: rgb(33, 30, 30);
}

header p{
    font-size: 18px;
    color: rgb(33, 29, 29);
    line-height: normal;
}

/comon margin for all section/
section{
    margin-bottom: 20px;
}
section h2{
    border-bottom: 2px solid black;
}
/Desining list/
.skills ul,
.experience ul,
.achievements ul,
.projects ul {
    list-style-type: none;
    padding: 0;
}
.skills ul li,
.experience ul li,
.achievements ul li,
.projects ul li{
    margin: 5px;
    padding: 5px;
    border-left: 3px solid rgb(61, 56, 56);
    background-color: rgb(190, 184, 184);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}
table tr th{
    border: 1px solid rgb(159, 156, 156);
    background-color: rgb(240, 234, 226);
    text-align: left;
}
table tr td{
    border: 1px solid rgb(159, 156, 156);
    padding: 5px;  
}

/form section/
form{
    display: flex;
    flex-direction: column;
}
form label{
    margin-top: 10px;
}
form button{
    margin-top: 7px;
    background-color: rgb(38, 188, 38);
    color: white;
    border: none;
    padding: 5px;
}
form input, form textarea{
    padding: 10px;
    margin: 5px 0;
}
button:hover{
    background-color: rgb(20, 107, 20);
}


footer{
    text-align: center;
    font-size: 14px;
    color: rgb(61, 59, 59);
}

nav ul{
    list-style-type: none;
    display: flex;
    padding:0;
    margin: 0;
    justify-content:center;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
}
nav{
    background-color: rgb(56, 53, 53);
    position:sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
nav ul li a:hover{
  text-decoration: underline;
}
div p{
    line-height: .8;
}
footer{
    background-color: rgb(56, 53, 53);
    color: white;
    padding: 10px;
}
footer p a{
    color: white;
}
footer div a{
    color: white;
}
footer div a:hover{
    color: rgb(204, 144, 144);
    
}